.app-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
}

.search {
  font-size: 28px;
}

.app {
padding: 1rem;
}